<!DOCTYPE html>
<html>
  <head>
    <title>EhrSiglo21</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href=<%= asset_url("style.css") %> >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>

<div class="main-wrapper account-wrapper">
  <div class="account-page">
    <div class="account-center">
      <div class="account-box">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" }) do |f| %>
            <div class="account-logo">
                <img src=<%=  asset_url('logo-dark.png') %> alt="">
            </div>
            <div class="form-group">
              <%= f.email_field :email, {
                "class": "form-control",
                "placeholder": "Usuario o email"
              } %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, {
                "class": "form-control",
                "placeholder": "Contraseña"
              } %>
            </div>
            <div class="form-group text-right">
                <a href="forgot-password.html">Olvidó su contraseña?</a>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me%>
                <%= f.label :remember_me, "Recuérdame"  %>
              </div>
            <% end %>
            <div class="form-group text-center">
              <div class="actions">
                <%= f.submit "Entrar",
                  { "class": "btn btn-primary account-btn" } %>
              </div>
            </div>
            <div class="text-center register-link">
                No tiene una cuenta? <a href="register.html">Registrarse Ahora</a>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

</body>
