<tr>
  <td><%= department.id %></td>
  <td><%= department.name %></td>
  <td><%= department.description %></td>
  <td>
    <% if department.active? %>
      <span class="custom-badge status-green">Activo</span>
    <% else %>
      <span class="custom-badge status-red">Inactivo</span>
    <% end %>
  </td>

  <td class="text-right">
      <div class="dropdown dropdown-action">
          <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href=<%= edit_department_path(department.id) %>><i class="fas fa-pencil-alt m-r-5"></i> Editar</a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target=<%= "#delete_department_#{ department.id }" %>><i class="fas fa-trash-alt"></i> Borrar</a>
          </div>
      </div>
  </td>
</tr>


<div id=<%= "delete_department_#{department.id}" %> class="modal fade delete-modal" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body text-center">
				<img src="<%= asset_url('sent.png') %>" alt="" width="50" height="46">
				<h3>Está seguro que desea eliminar este Departamento? <% "#{ department.name }" %></h3>
				<div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Cerrar</a>
					<%= link_to("Borrar", department, method: :delete, class: "btn btn-danger") %>
				</div>
			</div>
		</div>
	</div>
</div>
