<!DOCTYPE html>
<html>
  <head>
    <title>EhrSiglo21</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href=<%= asset_url("favicon.ico") %> >
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=<%= asset_url("bootstrap-datetimepicker.min.css") %>>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'style', media: 'all' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="main-wrapper">
      <div class="header">
        <div class="header-left">
          <a href="#" class="logo">
            <img src=<%= asset_url("logo.png") %> width="35" height="35" alt=""> <span>HCE Siglo21</span>
          </a>
        </div>

			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fas fa-bell"></i> <span class="badge badge-pill bg-danger float-right">3</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">
												<img alt="John Doe" src=<%= asset_url("user.jpg")%> class="img-fluid">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
												<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">L</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">G</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
												<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
												<p class="noti-time"><span class="notification-time">2 days ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="fa fa-comment"></i> <span class="badge badge-pill bg-danger float-right">8</span></a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src=<%= asset_url("user.jpg") %> width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span>Admin</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Menu</li>
                        <li class="active">
                            <a href="<%= root_path %>"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
                        </li>
						<li>
                            <a href="<%= doctors_path %>"><i class="fas fa-user-md"></i> <span>Doctores</span></a>
                        </li>
                        <li>
                            <a href="patients.html"><i class="fas fa-wheelchair"></i> <span>Pacientes</span></a>
                        </li>
                        <li>
                            <a href="appointments.html"><i class="far fa-calendar"></i> <span>Consultas</span></a>
                        </li>
                        <li>
                            <a href="departments.html"><i class="far fa-hospital"></i> <span>Departmentos</span></a>
                        </li>
                        <li>
                            <a href="departments.html"><i class="fas fa-file"></i> <span>Importar / Exportar</span></a>
                        </li>
                        <li class="submenu">
                          <a href="#"><i class="fa fa-users"></i> <span> Empleados </span> <span class="menu-arrow"></span></a>
                          <ul style="display: none;">
                            <li><a href="employees.html">Empleados Lista</a></li>
                            <li><a href="leaves.html">Ausencias</a></li>
                            <li><a href="holidays.html">Vacaciones</a></li>
                            <li><a href="attendance.html">Presentismo</a></li>
                          </ul>
                        </li>
                        <li>
                          <a href="activities.html"><i class="fas fa-bell"></i> <span>Log de Actividades</span></a>
                        </li>
                        <li class="submenu">
                          <a href="#"><i class="far fa-flag"></i> <span> Reportes </span> <span class="menu-arrow"></span></a>
                          <ul style="display: none;">
                            <li><a href="expense-reports.html"> Reporte de gastos </a></li>
                            <li><a href="invoice-reports.html"> Reporte de pacientes </a></li>
                          </ul>
                        </li>
                        <li>
                            <a href="settings.html"><i class="fa fa-cog"></i> <span>Configurar</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
              <%= yield %>
            </div>
        </div>
    </div>

    <div class="sidebar-overlay" data-reff=""></div>

    <script src=<%= asset_url("app.js") %>></script>
    <script src=<%= asset_url("Chart.bundle.js") %> ></script>
    <script src=<%= asset_url("chart.js") %> ></script>
    <script src=<%= asset_url("popper.min.js") %>> </script>
    <script src=<%= asset_url("bootstrap.min.js") %>> </script>
    <script src=<%= asset_url("jquery.slimscroll.js") %>> </script>
    <script src=<%= asset_url("moment.min.js") %>> </script>
    <script src=<%= asset_url("select2.min.js") %>> </script>
    <script src=<%= asset_url("bootstrap-datetimepicker.min.js") %>> </script>
  </body>
</html>
