<!DOCTYPE html>
<html>
  <head>
    <title>EhrSiglo21</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
	  <![endif]-->
  </head>

  <body>

    <%= yield %>

    <script src="assets/javascripts/jquery-3.2.1.min.js"></script>
	  <script src="assets/javascripts/popper.min.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>
    <script src="assets/javascripts/app.js"></script>
  </body>
</html>
